<h1>Calendario didattico - A.A. 2018/2019 - <u>I semestre</u></h1>
<h4>24/09/2018 - 18/01/2019</h4>


<h2>Calendario delle lezioni</h2>


<ul>
  <li>Laurea Triennale
    <ol>
      <li> <a href="#T1">Primo anno</a>
      <li> <a href="#T2">Secondo anno</a>
      <li> <a href="#T3">Terzo anno</a>
    </ol>
  <li>Laurea Magistrale
    <ol>
      <li> <a href="#M1">Primo anno</a>
      <li> <a href="#M2">Secondo anno</a>
    </ol>
</ul>

<h2>Piano di occupazione delle aule</h2>
  <ul>
    <li> Edificio Marconi </li>
      <a href="#Amaldi">Amaldi</a>,
      <a href="#Conversi">Conversi</a>,
      <a href="#Majorana">Majorana</a>,
      <a href="#Rasetti">Rasetti</a>,
      <a href="#Careri">Careri</a>

    <li> Edificio Fermi </li>
      <a href="#Cabibbo">Cabibbo</a>,
      <a href="#Aula2">Aula 2</a>,
      <a href="#Aula3">Aula 3</a>,
      <a href="#Aula4">Aula 4</a>,
      <a href="#Aula5">Aula 5</a>,
      <a href="#Aula6">Aula 6</a>,
      <a href="#Aula7">Aula 7</a>,
      <a href="#Aula8">Aula 8</a>,
      <a href="#LabCalc">Laboratorio di Calcolo</a>

    <li> Altro </li>
      <a href="#LabEM">Laboratorio di Elettromagnetismo</a>,
      <a href="#AulaSeminari">Aula Seminari (Fisiologia)</a>,
      <a href="#Aula17">Aula 17 (informatica)</a>

  </ul>
